= javascript_include_tag 'grades_scripts'
%div.container
  %div.row
    %div.panel.panel-default
      %div.panel-body{:style => 'height: 40%;'}
        %div.col-sm-6
          %h2= @course.name + " - " + @assignment.name + " Grades"
          
          %table#grades.table.table-striped
            %thead
              %tr
                %th Student Id
                %th Points Received
                %th Potential Points
            %tbody
              - @grades.each do |user, points|
                %tr
                  %td= user 
                  %td= points
                  %td= @assignment.points
  %div.row
    %div.panel.panel-default
      %div.panel-body{:style => 'height: 40%;'}
        %div.col-sm-6
          %h2= "Add/Edit Grades for  " + @assignment.name
          = form_tag "/#{@course.id}/#{@assignment.id}/grades/add" do
            %table#grades.table.table-striped
              %thead
                %tr
                  %th Student Id
                  %th Points Received
              %tbody
                - @userlist.each do |user|
                  %tr
                    %td= label :grade, :user_id, user[:id]
                    %td= text_field :grade, user[:id], :id => 'points', :value => user[:points]
            = submit_tag 'Add Grades'
          
          