<h1>Login</h1>
<%= form_tag login_create_path do %>
  <%= label :user, :user_id, 'User-ID:' %>
  <%= text_field :user, 'user_id', :id=> "login_id" %>
  <%= label :user, :password, 'Password:' %>
  <%= password_field :user, 'password', :id=> "login_password" %>
  <%= button_to "Log in", login_create_path, :id=> "login_submit" %>
  <%= link_to "Sign-up for an account", new_user_path, :id=> "signup" %>
<% end %>