<h1>Login</h1>
<%= form_tag sessions_path, :method => 'post' do %>
  <%= label :session, :user_id, 'User-Id' %>
  <%= text_field :session, 'user_id' %>
  <%= label :session, :password, 'Password' %>
  <%= password_field :session, 'password' %>
  <%= submit_tag 'Log in' %>
<% end %>