<%if($course != nil && @current_user !=nil)%>
    <div class ="container-fluid">
        <h1><%=link_to "#{$course.name}", course_path($course.id), method: :get %></h1>
        <h3>Assignments</h3>
        <%if(@current_user.role == "Teacher")%>
            <table class="table table-striped .table-responsive" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% if($assignments != nil && $assignments != []) %>
                        <% $assignments.each do |assignment|%>
                            <tr class = "<%=assignment.id%>">
                                <td><%=assignment.name%></td>
                                <% if(assignment.points == nil) %>
                                    <td>--</td>
                                <%else%>
                                    <td><%=assignment.points%></td>
                                <%end%>
                                <td><button type="button" id = "<%=assignment.id%>" class= "editAssign" data-toggle="modal" data-target="#myModal">Edit Assignment</button></td>
                                <td><%= button_to 'Delete Assignment', deleteAssignment_path(:assignmentID => assignment.id), method: :post%></td>
                                <td><%= button_to 'View Grades', "/#{$course.id}/#{assignment.id}/grades", method: :get%></td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td>No Assignments</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% end%>
                    <tr>
                        <%= form_tag(createAssignment_path, multipart: true) do %>
                            <td id= "createName"><%= text_field_tag(:name)%></td>
                            <td id= "createPoints"><%= number_field_tag(:points)%></td>
                            <td id= "createFile"><%= file_field_tag(:file)%></td>
                            <td id= "createButton"><%= submit_tag("Create Assignment")%></td>
                        <% end %>
                            <td></td>
                            <td></td>
                    </tr>
                </tbody>
            </table>
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editing Assignment</h4>
                      </div>
                      <div class="modal-body">
                        <label for="name_Name">Name</label>
                        <input type="text" name="name" id="updateName">
                        <label for="points_Total">Total</label>
                        <input type="number" name="points" id="updatePoints">
                        <label for="file_Choose">Add a File</label>
                        <input type="file" name="file" id="updateFile">
                      </div>
                      <div class="modal-footer">
                        <button id= "saveButton" type="button" data-dismiss="modal">Save</button>  
                        <button type="button" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                
                  </div>
                </div>
        <%end%>
    </div>
<%end%>