<!DOCTYPE html>
<html>
<head>
  <title>SeltProject</title>
  <%= stylesheet_link_tag    'assignments_home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%if($course != nil && @current_user !=nil)%>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class ="container-fluid">
                    <div class="courseinfo">
                        <div class="leftcontainer" style="float: left">
                            <h2>Details about <%= $course.name%></h2>
                            <ul id="details">
                              <li>
                                Course Number:
                                <%= $course.course_number %>
                              </li>
                              
                              <li>
                                Semester Hours:  
                                <%= $course.semester_hours %>  
                              </li> 
                              
                              <li>
                                Year Restrictions:  
                                <%= $course.year_restrictions %>  
                              </li>   
                            </ul>
                            <h3>Description:</h3>
                            <p id="description">
                              <%= $course.description %>
                            </p>
                            
                            <%if @current_user.role == 'Admin' %>
                              <%= link_to 'Edit Course', edit_course_path($course) %>
                              <%= link_to 'Delete Course', course_path($course), :method => :delete  %>
                            <%end%>
                            
                            <%= link_to 'Back to Course List',  courses_path %>
                            <%= button_to 'Enroll in this Course', enroll_path(courseId: $course.id), method: :post%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="container-fluid">
                  <h3>Assignments</h3>
                  <%if(@current_user.role != "Student")%>
                      <table class="table table-striped .table-responsive" >
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Total</th>
                                  <th>Due Date</th>
                                  <th>File</th>
                                  <th></th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <% if($assignments != nil && $assignments != []) %>
                                  <% $assignments.each do |assignment|%>
                                      <tr class = "<%=assignment.id%>">
                                          <td><%=assignment.title%></td>
                                          <% if(assignment.points == nil) %>
                                              <td>--</td>
                                          <%else%>
                                              <td><%=assignment.points%></td>
                                          <%end%>
                                          <% if(assignment.end_at == nil) %>
                                              <td>--</td>
                                          <% else %>
                                              <td><%=assignment.end_at%></td>
                                          <% end %>
                                          <% if(assignment.file_file_name != nil) %>
                                          <td><%= link_to "#{assignment.file_file_name}", assignment.file.url %></td>
                                          <% else %>
                                          <td>No file added</td>
                                          <% end %>
                                          <td><button type="button" id = "<%=assignment.id%>" class= "editAssign btn btn-default" data-toggle="modal" data-target="#myModal">Edit Assignment</button></td>
                                          <td><%= button_to 'Delete Assignment', deleteAssignment_path(:assignmentID => assignment.id), :class => 'btn btn-default', method: :post%></td>
                                          <td><%= button_to 'View Grades', "/#{$course.id}/#{assignment.id}/grades", :class => 'btn btn-default', method: :get%></td>
                                      </tr>
                                  <% end %>
                              <% else %>
                                  <tr>
                                      <td>No Assignments</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              <% end%>
                              <tr>
                                  <%= form_tag(createAssignment_path, multipart: true) do %>
                                    <div class="form-inline">
                                      <div class="form-group">
                                        <td id= "createName"><%= text_field_tag :title, "", class: "form-control"%></td>
                                      </div>
                                      <div class="form-group">
                                        <td id= "createPoints"><%= number_field_tag :points, "", class: "form-control"%></td>
                                      </div>
                                      <div class="form-group">
                                        <td id= "createDate"><%= date_field_tag(:dueDate)%></td>
                                      </div>
                                      <div class="form-group">
                                        <td id= "createFile">
                                            <span class="btn btn-large btn-default btn-file">
                                                Choose File
                                                <%= file_field_tag :file %>
                                            </span>
                                        </td>
                                      </div>
                                      <div class="form-group">
                                        <td id= "createButton"><%= submit_tag("Create Assignment", class: 'btn btn-success', 'data-disable-with' => "Adding Assignment")%></td>
                                      </div>
                                    </div>
                                  <% end %>
                                      <td></td>
                                      <td></td>
                              </tr>
                          </tbody>
                      </table>
                          <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Editing Assignment</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="form-inline">
                                    <div class="form-group">
                                      <label for="name_Name">Name: </label>
                                      <input type="text" name="title" id="updateName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                      <label for="points_Total">Total: </label>
                                      <input type="number" name="points" id="updatePoints" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button id= "saveButton" type="button" data-dismiss="modal" class="btn btn-success">Save</button>  
                                  <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                  <%else%>
                    <table class="table table-striped .table-responsive" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>File</th>
                                <th>Score</th>
                                <th>Total</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if($assignments != nil && $assignments != []) %>
                                <% $assignments.each do |assignment|%>
                                    <tr class = "<%=assignment.id%>">
                                        <td><%=assignment.title%></td>
                                        <% if(assignment.file_file_name != nil) %>
                                            <td><%= link_to "#{assignment.file_file_name}", assignment.file.url %></td>
                                        <% else %>
                                            <td>No file added</td>
                                        <% end %>
                                        <% if(assignment.grades{"#{@current_user.id}"} == nil || assignment.grades{"#{@current_user.id}"} == {}) %>
                                            <td>--</td>
                                            <%@grade = nil%>
                                        <%else%>
                                            <%@grade = assignment.grades["#{@current_user.user_id}"]%>
                                            <td><%=@grade%></td>
                                        <%end%>
                                        <% if(assignment.points == nil) %>
                                            <%@total = nil%>
                                            <td>--</td>
                                        <%else%>
                                            <%@total = assignment.points%>
                                            <td><%=@total%></td>
                                        <%end%>
                                        <%if(@grade != nil && @total != nil) %>
                                            <%@score = Float(Integer(@grade)/Integer(@total)*100) %>
                                            <%if(@score >= 90)%>
                                                <td>A
                                            <%elsif(@score >= 80)%>
                                                <td>B
                                            <%elsif(@score >= 70)%>
                                                <td>C
                                            <%elsif(@score >= 60)%>
                                                <td>D
                                            <%else%>
                                                <td>F
                                            <%end%>
                                            <%if(@score >= 100 || (@score%10 >= 8 && @score >=60))%>
                                                +</td>
                                            <%elsif(@score%10 <= 2 && @score >=60)%>
                                                -</td>
                                            <%else%>
                                                </td>
                                            <%end%>
                                        <%else%>
                                            <td>--</td>
                                        <%end%>
                                    </tr>
                                <% end %>
                            <% else %>
                                <tr>
                                    <td>No Assignments</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            <% end%>
                        </tbody>
                    </table>
                  <%end%>
              </div>
          </div>
      </div>
    </div>
</div>
<%end%>