<!DOCTYPE html>
<html>
<head>
  <title>SeltProject</title>
  <%= javascript_include_tag 'courses', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <h1>Welcome <%=@current_user.user_id%></h1>
          
          <% if @current_user.role != "Admin" %>
          <div id='calendar'></div>
          <% end %>
          
          <h1>Courses</h1>
          
          
          

          
          
          
          
          
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% for course in @courses%>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading<%= course.id %>">
                <h4 class="panel-title">
                  <a class="pointer" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= course.id %>" aria-expanded="false" aria-controls="collapse<%= course.id %>">
                    <span class="glyphicon glyphicon-list"></span>
                  </a>
                  <%= link_to "#{course.name}", course_path(course), method: :get%>
                </h4>
              </div>
              <div id="collapse<%= course.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= course.id %>">
                <div class="panel-body">
                  <p>Course Number: <%= "#{course.course_number}"%></p>
                  <p>Semester Hours: <%= "#{course.semester_hours}"%></p>
                  <p>Year Restrictions: <%= "#{course.year_restrictions}"%></p>
                  <p>Description: <%= "#{course.description}"%></p>
                </div>
              </div>
            </div>
          <% end %>
          </div>
          <% if @current_user.role != "Admin" %>
          <%= link_to "Enroll in a Course", courses_path%>
          <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
