<h1>Iowa Student Service</h1>
<br>
<%= form_tag sessions_path, :method => 'post' do %>
    <%= label_tag(:username, "Please enter your username")%>
    <br>
    <%= text_field :session, 'user_id', :id => 'user_id' %>
    <br>
    <%= label_tag(:password, "Please enter your password")%>
    <br>
    <%= password_field :session, 'password', :id => 'password' %>
    <br>
    <%= submit_tag("Login") %>
    <%= link_to '<button type="button">Signup</button>'.html_safe, new_user_path %>
<% end %>
