%h1 Sign-Up
= javascript_include_tag 'signup_scripts'

= form_tag users_path, :id => 'signup_form' do

  = label :user, :user_id, 'User-ID'
  = text_field :user, 'user_id', :id => 'signup_id'
  %br
  = label :user, :email, 'Email'
  = text_field :user, 'email', :id => 'signup_email'
  %br
  = label :user, :password, 'Password'
  = password_field :user, 'password', :id => 'signup_pass'
  %br
  = label :user, :password_conf, 'Confirm Password'
  = password_field :user, 'password_conf', :id => 'signup_pass_conf'
  %br
  = label :user, :role, 'Role'
  = select :user, :role, ['Student','Teacher','Admin'], :id => 'signup_role'
  
  #optionalfields
    %br
    = label :user, :validation_code, 'Validation Code'
    = password_field :user, 'validation_code', :id => 'signup_validate'
  %br
  = submit_tag 'Create My Account', :id => 'signup_submit'
  
#errors