<div class = "container">
    <div class = "panel">
        <h1>Account Information</h1>
        
        <p>Name:  <%=@student.name%></p>
        <br>
        <p>Email: <%=@student.email%></p>
        <br>
        <p>User ID: <%=@student.user_id%></p>
        <br>
        <p>Year: <%=@student.year%></p>
        <br>
        <%if @student.role == "Student" %>
            <%if @student.ta != true%>
            <%= button_to 'Promote to TA', promote_TA_path(userId: @student.user_id), method: :post %>
            <br>
            <% else %>
            <%= button_to 'Demote from TA', demote_TA_path(userId: @student.user_id), method: :post %>
            <br>
            <% end %>
        <% end %>
        
        <%= button_to 'Delete Account', user_path(@student), :method => :delete %>
    </div>
</div>