<h1>Edit Course</h1>
<%= form_tag course_path(@course), :method => :put do %>
  <%= label :course, :name, 'Name: ' %>
  <%= text_field :course, 'name' %>
  <br>
  <%= label :course, :course_number, 'Course Number: ' %>
  <%= text_field :course_number, 'course_number' %>
  <br>
  <%= label :course, :year_restrictions, 'Year Restrictions: ' %>
  <%= text_field :year_restrictions, 'year_restrictions' %>
  <br>
  <%= label :course, :descrition, 'Description: ' %>
  <%= text_field :descrition, 'descrition' %>
  <br>
  <%= label :course, :semester_hours, 'Semester Hours: ' %>
  <%= text_field :semester_hours, 'semester_hours' %>
  <br>
  <%= submit_tag 'Update Course Info' %>
<% end %>