<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <%= form_tag course_path(@course), :method => :put do %>
            <table class="table">
              <h1>Edit <%= "#{@course.name}"%></h1>
              <div class="form-inline">
                <div class="form-group">
                  <tr>
                    <td><%= label :course, :name, 'Name: ' %></td>
                    <td><%= text_field :course, 'name', class: "form-control", value: "#{@course.name}"%></td>
                  </tr>
                </div>
                <div class="form-group"></div>
                  <tr>
                    <td><%= label :course, :course_number, 'Course Number: ' %></td>
                    <td><%= "#{$course.course_number}" %></td>
                  </tr>
                </div>
                <div class="form-group"></div>
                  <tr>
                    <td><%= label :course, :year_restrictions, 'Year Restrictions: ' %></td>
                    <td><%= text_field :course, 'year_restrictions', class: "form-control", value: "#{@course.year_restrictions}" %></td>
                  </tr>
                </div>
                <div class="form-group"></div>
                  <tr>
                    <td><%= label :course, :descrition, 'Description: ' %></td>
                    <td><%= text_area :course, 'description', :rows => '5', :cols => '100', class: "form-control", value: "#{@course.description}" %></td>
                  </tr>
                </div>
                <div class="form-group"></div>
                  <tr>
                    <td><%= label :course, :semester_hours, 'Semester Hours: ' %></td>
                    <td><%= text_field :course, 'semester_hours', class: "form-control", value: "#{@course.semester_hours}" %></td>
                  </tr>
                </div>
              </div>
            </table>
            <%= submit_tag 'Update Course Info', :class => 'btn btn-success'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>