<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <h1>All Courses</h1>
          <%= form_tag(courses_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
            <%= submit_tag "Search" %>
            <br>
              <%= link_to 'Back to Course List',  courses_path %>
            </br>
          <% end %>

          <table id="courses">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Course Number</th>
                <th>More Info</th>
              </tr>
            </thead>
            <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td>
                    <%= course.name  %>
                  </td>
                  <td>
                    <%= course.course_number %>
                  </td>
                  <td>
                    <%= link_to "More about #{course.name}", course_path(course) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%if @current_user.role == 'Admin' %>
            <%= link_to 'Add new course', new_course_path %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
