<h1>Create New Course</h1>
<%= form_tag courses_path do %>
  <%= label :course, :name, 'Name: ' %>
  <%= text_field :course, 'name' %>
  <br>
  <%= label :course, :course_number, 'Course Number: ' %>
  <%= text_field :course, 'course_number' %>
  <br>
  <%= label :course, :year_restrictions, 'Year Restrictions: ' %>
  <%= text_field :course, 'year_restrictions' %>
  <br>
  <%= label :course, :descrition, 'Description of Course: ' %>
  <%= text_field :course, 'descrition' %>
  <br>
  <%= label :course, :semester_hours, 'Number of Semester Hours: ' %>
  <%= text_field :course, 'semester_hours' %>
  <br>
  <%= submit_tag 'Save Course' %>
<% end %>