<!DOCTYPE html>
<html>
<head>
  <title>SeltProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title"></h1>SELT_Project</h1>
  <div id="main">
    <% if flash[:notice] %>
      <div class="message" id="notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:warning] %>
      <div class="message" id="warning">
        <%= flash[:warning] %>
      </div>
    <% end %>
    <% if @current_user %>
      <p>You are logged in as <%= @current_user.user_id %><p>
      <%= button_to 'Log Out', logout_path, :method => 'delete' %>
      <p class="profile">
        <%= link_to 'View Profile',user_path(@current_user)  %>
      </p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
